<div class='bg'>
  <section>
    <div class="container">
      <form
        (ngSubmit)="send()"
      >
        <h1>
          Contact Us
        </h1>
        <div class="row">
          <div class="col col-4">
            <label for="name">Name</label>
          </div>
          <div class="col col-8">
            <input
            formControlName="name"
            type="text"
            id="name"
            name="name"
            placeholder="your name here.."
            />
          </div>
        </div>
        <div class="row">
          <div class="col col-4">
            <label for="email">Email</label>
          </div>
          <div class="col col-8">
            <input
            formControlName="email"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your mail ID"
            />
          </div>
        </div>
        <div class="row">
          <div class="col col-4">
            <label for="message">Message</label>
          </div>
          <div class="col col-8">
            <textarea
            formControlName="message"
            type="message"
            id="message"
            name="message"
            >
            </textarea>
          </div>
        </div>
        <!-- <div class="row"> -->
          <!-- <div class="col col-8"> -->
            <button class="btn btn-primary">
              Send
            </button>
          <!-- </div> -->
        <!-- </div> -->
      </form>
    </div>
  </section>
  
</div>
