body, html {
    height: max-content;
  }
  
  .bg {
    /* The image used */
    background-image: url("../../assets/services-bg.jpg");
    background-attachment: fixed;
    top: 0;
  
    /* Full height */
    min-height: max-content;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

mat-toolbar {
  margin: 0 10%;
  width: 80%;
  background-color:rgb(68, 154, 154);
}

.header {
  margin-left: 45%;
  color: black;
  text-align: center;
}

mat-card {
  margin: 1% 10%;
  width: 77.5%;
  align-items: center;
}

mat-card-title {
  color: teal;
}

mat-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  width: 80%;
  font-style: italic;
  margin-left: 10%;
  font-size: 16px;
}

b {
  color: rgb(137, 92, 179);
  font-weight: 700;
}

span {
  text-align: center;
  width: 80%;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  color: cadetblue;
  margin-left: 10%;
}

.training {
  color:rgb(2, 46, 48);
}