<div class='bg'>
    <mat-toolbar><div class="header"> Our Services </div></mat-toolbar>
    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Web Design</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/WEB-DESIGN2.avif"
          height="440px"
        />
        <mat-card-content>
          <p>As passionate digital enthusiasts, we drive innovative consumer experiences with thoughtful designs. From <b>UX/UI design to Web Development, Branding, and more</b>, our creative digital solution agency offers reliable end-to-end solutions for your unique needs.</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button> -->
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Web Development</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/web-development.jpg"
          height="440px"
        />
        <mat-card-content>
            <p><b>We provide the best solution for your business development.</b>
            Godric Web Solutions consists of a team of enthusiastic and creative techies who work with a mission to provide innovative software and web development services that help businesses to Standout, Influence. Engage.</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button> -->
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Technical Training</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/training.webp"
          height="440px"
        />
        <mat-card-content>
           <p><b>We are confident enough to make any invidual as potential techie or improved candidate on IT skills.</b>
            Here we make any person as ready to work in IT industry or best performing workforce in the firm. We also helps candidates to prepare for their dream jobs, and help students in their academic projects</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button> -->
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
</div>