body, html {
    height: max-content;
  }
  
  .services-bg {
    /* The image used */
    background-image: url("../../assets/about-us.jpg");
    background-attachment: fixed;
    top: 0;
  
    /* Full height */
    min-height: max-content;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

mat-toolbar {
  margin: 0 5%;
  width: 90%;
  // color: rgb(68, 154, 154);
  background-color: transparent;
}

.header {
  font-size: 32px;
  margin-left: 45%;
  color: white;
  text-align: center;
}

mat-card {
  margin: 2% 5%;
  width: 90%;
  align-items: center;
}

mat-card-title {
  color: teal;
  font-size: 22px;
}

mat-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  width: 80%;
  // font-style: italic;
  font-family: Helvetica;
  margin-left: 10%;
  font-size: 22px;
  line-height: 150%;
  span {
    text-align: center;
    width: 80%;
    font-style: normal;
    font-size: 22px;
    line-height: 150%;
    font-weight: 800;
    color: cadetblue;
    margin-left: 10%;
    font-family: Helvetica;
  }
}

b {
  color: rgb(137, 92, 179);
  font-weight: 700;
}
