<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class='bg'>
  <div class="title">
    We Are <span>Godric Web Solutions</span>
  </div>
  <div class="subtitle">
    Providing you with the most accurate designs for your need.
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        At Godric Web we want to solve the biggest problems xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-md btn-outline-primary" style="margin: 40px 0 10px 50%;" (click)="team()">
    Our Team
  </button>
    <div class="members" *ngIf="t">
      <div class="card border-info mb-3" style="width: 18rem;">
        <img class="card-img-top" height="360" src="../../assets/Praveen.jpeg" alt="Praveen">
        <div class="card-body text-info">
          <h5 class="card-title">PRAVEEN</h5>
          <p class="card-text">Application Developer</p>
        </div>
      </div>
    </div>
</div>