<div class="home">
  <div class="row logo-banner">
    <div class="col col-8">
      <div class="banner">BUILD YOUR<br> BUSINESS WITH <br> GODRIC</div>
    </div>
    <div class="col col-4">
      <img src="../../assets/logo.png" alt="Godric Logo">
    </div>
  </div>
  <div style="background-color: white; color: black; height: 450px; padding-top: 2%;">
    <div class="row">
      <div class="col col-6">
        <img src="../../assets/web-design.jpg" height="352px" width="90%" alt="About Godric Web image">
      </div>
      <div class="col col-6 content">
        <p>It is a Professional Web Platform. Here we will provide you only interesting content, which
          you
          will like very much. We're dedicated to providing you the best of web, with a focus on dependability and helps
          in
          creating website for your company, helps in web related projects, student tutoring on computer related
          courses.
          We're working to turn our passion for web into a booming <a href="" rel="do-follow"
            style="color: inherit; text-decoration: none;">online website</a>. We hope you enjoy our services as much as
          we
          enjoy offering them to you.</p>
      </div>
    </div>
  </div>

  <div class='services-bg'>
    <mat-toolbar>
      <div
        style="margin-left: 40%; font-size: 46px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 600;">
        OUR SERVICES
      </div>
    </mat-toolbar>
    <div class="content">
      <mdb-carousel controls=true [interval]="4000" data-mdb-animation="slide-out-left">
        <mdb-carousel-item>
          <mat-card class="mat-elevation-z4">
            <img mat-card-image src="assets/WEB-DESIGN2.avif" height="440px" />
            <mat-card-content>
              <span class="service-name">Web Design</span>
              <p>As a passionate digital enthusiasts, we drive innovative consumer experiences with thoughtful designs.
                From <b>UX/UI design to Web Development, Branding, and more</b>, our creative digital solution agency
                offers reliable end-to-end solutions for your unique needs.</p>

              <button mat-raised-button class="btn btn-lg service-info" (click)="onDesign()" type="button">Know
                More</button>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mat-card class="mat-elevation-z4">
            <img mat-card-image src="../../assets/Web-Developer.jpg " height="440px" />
            <mat-card-content>
              <span class="service-name">Web Development</span>
              <p><b>We provide the best solution for your business development.</b>
                Godric consists of a team of enthusiastic and creative techies who work with a mission to
                provide innovative software and web development services that help businesses to Standout, Influence.
                Engage.</p>

              <button mat-raised-button class="btn btn-lg service-info" (click)="onDevelopment()" type="button">Know
                More</button>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mat-card class="mat-elevation-z4" style="margin-bottom: 2%;">
            <img mat-card-image src="assets/technical-trainer.png" height="440px" />
            <mat-card-content>
              <span class="service-name">Technical Training</span>
              <p><b>We are confident enough to make any individual as potential techie or improved candidate on IT
                  skills.</b>
                Here we make any person as ready to work in IT industry or best performing workforce in the firm. We
                also helps candidates to prepare for their dream jobs, and help students in their academic projects</p>

              <button mat-raised-button class="btn btn-lg service-info" (click)="onTraining()" type="button">Know
                More</button>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>

  <div class="location">
    <div
      style="margin-left: 40%; font-size: 46px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 600;">
      VISIT US </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.802235953615!2d77.56972997468635!3d12.920428715998822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3fbce53d1e17%3A0x8a5b15b35959857a!2sGodric%20Web%20Solutions!5e0!3m2!1sen!2sin!4v1691044649637!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <body class="f1">
    <div
      style="margin-left: 40%; font-size: 46px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 600;">
      CONTACT US </div>
    <div class="container">
      <div class="form-center">
        <div style="margin-bottom: 2%;"> </div>
        <form [formGroup]="contactForm" (ngSubmit)="sendQuery(contactForm.value)">
          <div class="row">
            <div class="col col-3">
              <label for="name">Name</label>
            </div>
            <div class="col col-9">
              <input formControlName="name" type="text" required id="name" name="name"
                placeholder=" Your name here.." />
            </div>
          </div>
          <div class="row">
            <div class="col col-3">
              <label for="email">Email</label>
            </div>
            <div class="col col-9">
              <input formControlName="email" type="email" required id="email" name="email"
                placeholder=" Enter your mail ID" />
            </div>
          </div>
          <div class="row">
            <div class="col col-3">
              <label for="message">Message</label>
            </div>
            <div class="col col-9">
              <textarea formControlName="message" type="message" id="message" name="message">
            </textarea>
            </div>
          </div>
          <button type="submit" class="button" [disabled]="!contactForm.valid">
            Send
          </button>
        </form>
      </div>
    </div>
  </body>

</div>