<div>
    <img class="banner" src="../../assets/home_banner.jpg">
    <hr>
    <div class="services">
        Explore Our Services
    <div>
        <div class="card-container">
            <a class="card">
                <img src="../../assets/design.png" width="50" height="50">
              <span>&nbsp;Design</span></a>
        
              <a class="card">
                <img src="../../assets/development.png" width="50" height="50">
              <span>&nbsp;Development</span></a>
        
              <a class="card">
                <img src="../../assets/cloud.png" width="50" height="50">
              <span>&nbsp;Cloud Computing</span></a>

              <a class="card">
                <img src="../../assets/growth.png" width="50" height="50">
              <span>&nbsp;Marketing</span></a>
        
              <a class="card">
                <img src="../../assets/support.png" width="50" height="50">
              <span>&nbsp;Technical Support</span></a>
          </div>
    </div>
    </div>
</div>
