<div>
    <img class="banner" src="../../assets/home_banner.jpg">
    <!-- <hr> -->
    <div class="services">
        Explore Our Services
    <div>
        <div class="card-container">
            <a class="card" (click)="gotoServices()">
                <img src="../../assets/design.png" width="50" height="50">
              <span>&nbsp;Design</span></a>
        
              <a class="card" (click)="gotoServices()">
                <img src="../../assets/development.png" width="50" height="50">
              <span>&nbsp;Development</span></a>
        
              <!-- <a class="card" (click)="gotoServices()">
                <img src="../../assets/cloud.png" width="50" height="50">
              <span>&nbsp;Cloud Computing</span></a> -->

              <a class="card" (click)="gotoServices()">
                <img src="../../assets/tech-training.jpg" width="50" height="50">
              <span>&nbsp;Training</span></a>
        
              <a class="card" (click)="gotoSupport()">
                <img src="../../assets/support.png" width="50" height="50">
              <span>&nbsp;Technical Support</span></a>
          </div>
    </div>
    </div>
</div>
